.add-debtor-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__name,
    &__phone,
    &__address,
    &__description,
    &__images {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-weight: 600;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px 12px;
            border: 1px solid #ECECEC;
            border-radius: 8px;
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0%;
            background: #F6F6F6;

            &::placeholder {
                font-weight: 400;
                font-size: 13px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
            }

            &:hover,
            &:focus {
                border: 1px solid #2e7ad1;
                background-color: #F6F6F6;
            }

            &:focus {
                background: none;
            }
        }

        textarea {
            height: 100px;
            resize: none;
        }

        &-add {
            width: 130px;
            align-self: flex-end;
            margin-left: auto;
            text-align: center;
        }
    }

    .modal-actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        button {
            width: 130px;
        }
    }

    .add-debtor-form__images {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      
        label {
          font-weight: 600;
          font-size: 14px;
          color: #000000;
        }
      
        .image-upload-container {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
        }
      
        .image-upload-item {
          display: inline-block;
          width: 100px;
        }
      
        .image-upload-button {
          width: 100%;
          height: 100px;
          padding: 0;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          overflow: hidden;
          border: 1px solid #ececec;
          background: #f6f6f6;
      
          &:hover {
            background-color: #e0e0e0;
          }
        }
      
        .image-input {
          position: absolute; 
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0; 
          cursor: pointer; 
        }
        .image-placeholder {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
          cursor: pointer;
        }
      
        .image-preview {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      
}