.Header {
    width: 100%;
    padding:25px 20px;
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 22;
    
    .container {
        width: 100%;
        max-width: 1540px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

  
    &__links {
        display: flex;
        align-items: center;
        gap: 100px;

        @media (max-width: 700px) {
            width: 100%;
            justify-content: space-between;
            gap: 10px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        p {
            font-size: 16px;
            font-weight: 500;
            transition: all 0.2s ease-in-out;

            @media (max-width: 600px) {
                font-size: 14px;
            }
            @media (max-width: 300px) {
                font-size: 12px;
            }
        }

        .Header__icon {
            display: none;

            @media (max-width: 700px) {
                display: block;
            }
        }

        &:hover,
        &.active,
        &.active p {
            color: #007bff;
        }
    }
   
}